.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.left, .right {
    font-size: 60px;
    font-weight: 700;
    padding: 6px 12px;
    border-radius: 6px;
    transition: 100ms;
}

.left:hover, .right:hover {
    background-color: rgb(74, 130, 235);
}

.left:hover {
    transform: translate(-10%, -1%);
}

.right:hover {
    transform: translate(10%, 1%); 
}

.image-container {
    width: 500px;
    height: 500px;
    background-color: #888;
    margin: 0px 2px;
    border-radius: 6px;
    border: 5px solid black;
}

.image {
    width: 100%;
    height: 100%;
    transition: all 300ms;
}

.image-transitioned  {
    transform: translate(-50%, 0%);
}