.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

.left, .right {
    font-size: 60px;
    font-weight: 700;
    padding: 6px 12px;
    border-radius: 6px;
    transition: 100ms;
    user-select: none;
}

.left:hover, .right:hover {
    background-color: #3882F6;
}

.left:hover {
    transform: translate(-10%, -1%);
}

.right:hover {
    transform: translate(10%, 1%); 
}

.circle-container {
    margin-top: 6px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.circle {
    background-color: #3882F6;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    transition: all 200ms;
}

.circle:hover {
    transform: translate(0%, 25%);
}

.circle-transitioned {
    transform: scale(125%);
    background-color: red;
}

.image-container {
    width: 500px;
    height: 500px;
    background-color: #888;
    display: flex;
    margin: 0px 2px;
    border-radius: 6px;
    border: 5px solid black;
}

.image {
    width: 500px;
    height: 500px;
    transition: all 450ms;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transform: translate(0%, -30%);
}

.image-transitioned  {
    transform: translate(0%, 0%);
    visibility: visible;
    opacity: 1;
}