.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

.left, .right {
    font-size: 60px;
    font-weight: 700;
    padding: 6px 12px;
    border-radius: 6px;
    transition: 100ms;
    user-select: none;
}

.left:hover, .right:hover {
    background-color: rgb(74, 130, 235);
}

.left:hover {
    transform: translate(-10%, -1%);
}

.right:hover {
    transform: translate(10%, 1%); 
}

.image-container {
    width: 500px;
    height: 500px;
    background-color: #888;
    display: flex;
    margin: 0px 2px;
    border-radius: 6px;
    border: 5px solid black;
}

.image {
    width: 500px;
    height: 500px;
    transition: all 450ms;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transform: translate(0%, -30%);
}

.image-transitioned  {
    transform: translate(0%, 0%);
    visibility: visible;
    opacity: 1;
}